@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(180deg,
      #c63d3d 0%,
      #d9a441 45%,
      #5aa84f 100%);
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.player {
  width: 100%;
  max-width: 900px;
  padding: 40px;
  color: white;
}

.top {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: center;
  gap: 40px;
}

.track-text h1 {
  font-family:'Satoshi-Black',sans-serif ;
  font-weight: 800;
  font-size: 74px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.track-text p {
  opacity: 0.9;
  margin-top: 10px;
  font-size: 30px;
  font-family:"Satoshi-Bold",sans-serif ;
}

.track-img img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px #c63d3d;
  border:1px solid #c63d3d ;

}

/* Controls */
.controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icon-btn,
.play-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.icon-btn svg {
  width: 24px;
  height: 24px;
  fill: white;
  opacity: 1;
}

.play-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.play-btn svg {
  width: 60px;
  height: 60px;
  fill: white;
}

.play-btn svg polygon {
  fill: transparent;
}

.icon-btn svg {
  fill: white;
  width: 40px;
  height: 40px;
}

.secondary-btn {

  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.secondary-btn svg {
  fill: white;
}

/* Progress */
.progress-bar {
  margin: 30px 0;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: white;
}

/* Carousel */
.carousel {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

.carousel img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}

.carousel img.active {
  opacity: 1;
  outline: 2px solid white;
}


/* Footer */
.footer {
  margin-top: 30px;
  opacity: 0.6;
  font-size: 14px;
}

