@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

/* animated background blobs */
.background div {
    position: absolute;
    border-radius: 3rem;
    z-index: 1;
}

.background div:nth-child(2),
.background div:nth-child(3) {
    animation: gradient 4s infinite;
}

@keyframes gradient {
    50% {
        transform: scale(1.3) translate(140px);
    }
}

.background div:nth-child(1) {
    height: 100%;
    width: 100%;
    background-color: #212121;
}

.background div:nth-child(2) {
    height: 80%;
    width: 70%;
    background-color: #1db954;
    top: -20%;
    right: -20%;
    animation-delay: 2s;
}

.background div:nth-child(3) {
    height: 50%;
    width: 40%;
    background-color: #1db954;
    top: 60%;
    left: -10%;
    animation-delay: 2s;
}

/* blur overlay */
.container::after {
    position: absolute;
    content: '';
    inset: 0;
    backdrop-filter: blur(150px);

    z-index: 2;
}

/* hero content */
.hero-section {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.hero-section img {
   height: 130px;
   width: 130px;
}

.hero-section h1 {
   font-family: Barriecito,sans-serif;
   font-size: 12rem;
   color: white;
}
