@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/Satoshi-Bold.woff') format('woff'),
    url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #212121
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.player {
  width: 100%;
  max-width: 60%;
  padding: 40px;
  color: white;
  scale: 1.05;
}

.top {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: center;
  gap: 40px;
}

.track-text h1 {
  font-family: 'Satoshi-Black', sans-serif;
  font-weight: 800;
  font-size: 74px;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.track-text p {
  opacity: 0.9;
  margin-top: 10px;
  font-size: 30px;
  font-family: "Satoshi-Bold", sans-serif;
}

.track-img img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  border: 1px solid;

}

/* Controls */
.controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icon-btn,
.play-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.icon-btn svg {
  width: 24px;
  height: 24px;
  fill: white;
  opacity: 1;
}

.play-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.play-btn svg {
  width: 60px;
  height: 60px;
  fill: white;
}

.play-btn svg polygon {
  fill: transparent;
}

.icon-btn svg {
  fill: white;
  width: 40px;
  height: 40px;
}

.secondary-btn {
  margin-left: 70px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  margin-right: 70px;
}

.secondary-btn svg {
  fill: white;
}

/* Progress */
.progress-bar {
  margin: 20px 0;
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 22px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  border-radius: 22px;

}

/* Carousel */
.carousel {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  margin-top: 30px;
}

.carousel img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  transition: ease-out .2s;
}

.carousel img:hover {
  opacity: 1;
  
  transform: scale(1.1);
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 60px;
  opacity: 0.7;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

/* Add animation */
.play-to-pause {
  animation: playToPause 0.5s ease-in-out;
}

.pause-to-play {
  animation: pauseToPlay 0.5s ease-in-out;
}

@keyframes playToPause {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pauseToPlay {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

#pauseIcon {
  display: none;
}