* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #212121;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
}

.player {
  width: 100%;
  max-width: 900px;
  padding: 40px;
  color: white;
}

.top {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items:center;
  gap: 40px;
}

.track-text h1 {
  font-size: 74px;
  letter-spacing: 2px;
}

.track-text p {
  opacity: 0.9;
  margin-top: 10px;
  font-size: 30px;
}

.track-img img{
  width: 200px;
  height: 200px;
}
/* Controls */
.controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icon-btn,
.play-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.icon-btn svg {
  width: 24px;
  height: 24px;
  fill: white;
  opacity: 1;
}

.play-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.play-btn svg {
  width: 60px;
  height: 60px;
  fill: white;
}

.play-btn svg polygon {
  fill: transparent;
}

.icon-btn svg {
  fill: white;
  width: 40px;
  height: 40px;
}

/* Progress */
.progress-bar {
  margin: 30px 0;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: white;
}

/* Carousel */
.carousel {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

.carousel img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.7;
}

.carousel img.active {
  opacity: 1;
  outline: 2px solid white;
}

.footer {
  margin-top: 30px;
  opacity: 0.6;
  font-size: 14px;
}

.secondary-btn {

  background: none;
  border: none;
  cursor: pointer;
  color: white;
}
.secondary-btn svg{
  fill: white;
}
